.contact-us-header-main-container {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('../../../assets/universityWebsiteAssets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 60vh;
    height: 400px;
    max-width: 100vw;
    position: relative;
}

.contact-us-header-main-title-container {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.contact-us-header-main-title {
    text-align: center;
    color: white;
    padding: 5px;
}

@media (width <=800px) {
    .contact-us-header-main-title {
        font-size: 1.5rem;
    }
}