.global-contact-us-btn {
    width: fit-content;
    align-self: center;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--hover-color--);
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    padding: 10px 30px;
}

.global-contact-us-btn:hover {
    color: white;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}